{{ define "title" }} ikasbox {{ end }}
{{ define "content" }}

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">
  <pre>

  The fact that you are viewing this page means that you ran "ikasbox"
  "ikasbox" is Movie Content Database.

  I am in the form of "Web", but I also have several commands.

  ikasbox start

  ikasbox group list 
  ikasbox group register
  ikasbox group add {path}
  ikasbox group check {id} import and delete

  ikasbox project list 
  ikasbox project add {id}
  ikasbox project delete {id}

  </pre>
  </div>
</div>

{{ end }}

