.MainGrid {
    margin:0px;
    padding:0px;
}

.ListGrid {
    margin:0px !important;
    padding:0px !important;
    padding-top:2px !important;
}

.ContentGrid {
    margin:0px !important;
    padding:20px !important;
}
