{{ define "title" }} ikabox {{ end }}
{{ define "content" }}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
  <pre>

  The fact that you are viewing this page means that you ran "ikabox"
  "ikabox" is Movie Content Database.

  I am in the form of "Web", but I also have several commands.

  Import Command
  ikabox import -ext {*.mp4,*.mpeg,*.wmv} -b

  {PATH} is Import Directory

  -ext  is Import extention(default *)

  -blob is Database save blob data(default false=Reference by PATH


  Add Group
  ikabox groupadd

  Delete Group
  ikabox groupdelete




  </pre>
  </div>
</div>

{{ end }}

